@font-face {
  font-family: 'icomoon';
  src:  url('fonts1/icomoon.eot?7ydq53');
  src:  url('fonts1/icomoon.eot?7ydq53#iefix') format('embedded-opentype'),
    url('fonts1/icomoon.ttf?7ydq53') format('truetype'),
    url('fonts1/icomoon.woff?7ydq53') format('woff'),
    url('fonts1/icomoon.svg?7ydq53#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-topicon:before {
  content: "\e900";
  color: #6a6a6a;
}
